/* Colors */
$baseColor: #ffffff;
$pageBackgroundColor: #f8f8f8;
$buttonTextColor: #80868b;
$borderColor: #c5c5c5;
$primaryColor: #403df0;
$textColor: #000000;
$warningColor: #ed4916;

/* Font size */
$largeSize: 1.5rem;
